*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    user-select: none;
}

h1{
    font-size: 10vh;
    text-shadow: 6px 6px 10px #000000;
    font-family: cursive;
    letter-spacing: 10px;
}

.vermelho{
    color: #FF0000;
}

.amarelo{
    color: #FFFF00;
}

.verde{
    color: #00FF00;
}

.azul{
    color: #0000FF;
}

.roxo{
    color: #800080;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.sorteio {
    height: auto;
    width: 50vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #050B44, #040933);
    border: 3px solid #292691;
    border-radius: 15px;
}

.restantes{
    background: linear-gradient(to bottom, #050B44, #040933);
    border: 3px solid #292691;
    border-radius: 15px;
    height: auto;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding: 1vw;
}

#suas-cartelas{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #0139A6, #00287B);
    width: 300px;
    margin: auto;
    padding: 5px;
}

.cartelas {
    background-color: #03113E;
    border: 2px solid #073377;
    border-radius: 15px;
    height: auto;
    width: auto;
    padding: 10px 20px;
}

.jogadores {
    background-color: #090D2E;
    border: 3px solid #1E1D54;
    height: auto;
    width: 20vw;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.jogadores h2 {
    font-size: 4vh;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px;
}

.jogadores ul {
    list-style-type: none;
    display: grid;
    padding: 10px;
    overflow-y: auto;
    max-height: 100vh;
    
}

.jogadores li{
    width: auto;
    margin: 10px;
    background-color: #091137;
    display: flex;
    align-items: left;
    border: 2px solid #192256;
    padding: 5px;
    border-radius: 15px;
}

.img-jogador {
    height: 75px;
}

.jogadores p {
    font-size: 2vh;
    text-align: left;
    margin: auto 10px;
}

.jogadores p span {
    font-size: 3vh;
    font-weight: bold;
    color: #fff;
}





.ultimo-numero {
    width: 30%;
    height: 100%;
    display: flex;
    border-right: 3px solid #292691;
}

.ultimo-numero p {
    font-size: 3vh;
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.ultimo-numero span {
    font-size: 5vh;
    font-weight: bold;
    margin: auto;
    background-color: #fff;
    border: black 8px solid;
    border-radius: 50%;
    padding: 10px;
}

.numeros-sorteados {
    width: 70%;
    height: 100%;
}

.numeros-sorteados p {
    color: #fff;
    text-align: left;
    margin: 8px;
    text-shadow: 2px 2px 4px #000000;
}

.numeros-bolas{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.numero-bola {
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    background-color: #fff;
    border: black 8px solid;
    border-radius: 50%;
    padding: 10px;
}

.restantes{
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.restantes .texto{
    font-size: 3vh;
    margin: 10px;
}

.restantes .numero-restante{
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-bingo {
    width: 50px;
    height: auto;
}








#cartelas {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cartelas h3{
    color: #fff;
}

.linha .letra{
    width: 60px;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    font-size: 25px;
}

#letra-B {
    background-color: #FF0000;
    color: #fff;
}

#letra-I {
    background-color: #FFFF00;
    color: #fff;
}

#letra-N {
    background-color: #00FF00;
    color: #fff;
}

#letra-G {
    background-color: #0000FF;
    color: #fff;
}

#letra-O {
    background-color: #800080;
    color: #fff;
}

.cartela {
    border: 2px solid #073377;
    padding: 15px;
    border-radius: 10px;
    background-color: #030F36;
}

.linha {
    display: flex;
}

.numero {
    width: 60px;
    height: 50px;
    border: 1px solid gray;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

.numero:hover{
    background-color: rgb(233, 233, 233);
    transform: scale(0.95);
}

.bingo{
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 4px 4px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to top,#006F00, #3FD41A );
    text-align: center;
    margin-bottom: 20px;
}

.bingo:hover{
    background: linear-gradient(to top, #3FD41A, #3FD41A);
}