*{
    margin: 0px;
    padding: 0px;
}

:root {
    --fundo-container: #0E0A52;
    --borda: #321B97;
    --preto: #000000;
    --branco: #FFFFFF;
    --vermelho: #FF0000;
    --amarelo: #FFFF00;
    --verde: #00FF00;
    --azul: #0000FF;
    --roxo: #800080;
}

body {
    background-image: url('../imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 10vw;
    text-align: center;
    text-shadow: 6px 6px 10px var(--preto);
    font-family: cursive;
    letter-spacing: 10px;
}

.vermelho{
    color: var(--vermelho);
}

.amarelo{
    color: var(--amarelo);
}

.verde{
    color: var(--verde);
}

.azul{
    color: var(--azul);
}

.roxo{
    color: var(--roxo);
}

.container{
    margin: auto;
    background-color: var(--fundo-container);
    border: 6px solid var(--borda);
    box-shadow: 6px 6px 10px var(--preto);
    border-radius: 20px;
    width: 80vw;
}

h3{
    color: var(--branco);
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px var(--preto);
    margin: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.configuracoes{
    background-color: var(--vermelho);
    width: auto;
    margin: 2vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.configuracao{
    background-color: var(--verde);
    gap: 5vw;
    height: 80%;
    margin: 5vw;
}

@media(max-width:450px){
    .configuracoes{
        grid-template-columns: 1fr;
        height: 60vh;
    }

    h3{
        font-size: 15px;
    }
}